.q-btn-disable-primary {
  cursor: no-drop;
  filter: brightness(0.7);
  color: #fff;
  border-color: #2080f0;
  background-color: #2080f0;
}

.q-btn-disable-primary:active, .q-btn-disable-primary:hover, .q-btn-disable-primary:focus {
  filter: brightness(0.7);
  color: #fff;
  border-color: #2080f0;
  background-color: #2080f0;
}

.q-btn-disable-primary-simple {
  cursor: no-drop;
  filter: brightness(0.7);
  color: #2080f0;
  border-color: #2080f0;
  background-color: #fff;
}

.q-btn-disable-primary-simple:active, .q-btn-disable-primary-simple:hover, .q-btn-disable-primary-simple:focus {
  filter: brightness(0.7);
  color: #2080f0;
  border-color: #2080f0;
  background-color: #fff;
}

.q-btn-disable-primary-text {
  cursor: no-drop;
  filter: brightness(0.7);
  border-color: transparent;
  background-color: transparent;
  color: #2080f0;
}

.q-btn-disable-primary-text:active, .q-btn-disable-primary-text:hover, .q-btn-disable-primary-text:focus {
  filter: brightness(0.7);
  border-color: transparent;
  background-color: transparent;
  color: #2080f0;
}

.q-btn-disable-warn {
  cursor: no-drop;
  filter: brightness(0.7);
  color: #fff;
  border-color: #f0a020;
  background-color: #f0a020;
}

.q-btn-disable-warn:active, .q-btn-disable-warn:hover, .q-btn-disable-warn:focus {
  filter: brightness(0.7);
  color: #fff;
  border-color: #f0a020;
  background-color: #f0a020;
}

.q-btn-disable-warn-simple {
  cursor: no-drop;
  filter: brightness(0.7);
  color: #f0a020;
  border-color: #f0a020;
  background-color: #fff;
}

.q-btn-disable-warn-simple:active, .q-btn-disable-warn-simple:hover, .q-btn-disable-warn-simple:focus {
  filter: brightness(0.7);
  color: #f0a020;
  border-color: #f0a020;
  background-color: #fff;
}

.q-btn-disable-warn-text {
  cursor: no-drop;
  filter: brightness(0.7);
  border-color: transparent;
  background-color: transparent;
  color: #f0a020;
}

.q-btn-disable-warn-text:active, .q-btn-disable-warn-text:hover, .q-btn-disable-warn-text:focus {
  filter: brightness(0.7);
  border-color: transparent;
  background-color: transparent;
  color: #f0a020;
}

.q-btn-disable-error {
  cursor: no-drop;
  filter: brightness(0.7);
  color: #fff;
  border-color: #d03050;
  background-color: #d03050;
}

.q-btn-disable-error:active, .q-btn-disable-error:hover, .q-btn-disable-error:focus {
  filter: brightness(0.7);
  color: #fff;
  border-color: #d03050;
  background-color: #d03050;
}

.q-btn-disable-error-simple {
  cursor: no-drop;
  filter: brightness(0.7);
  color: #d03050;
  border-color: #d03050;
  background-color: #fff;
}

.q-btn-disable-error-simple:active, .q-btn-disable-error-simple:hover, .q-btn-disable-error-simple:focus {
  filter: brightness(0.7);
  color: #d03050;
  border-color: #d03050;
  background-color: #fff;
}

.q-btn-disable-error-text {
  cursor: no-drop;
  filter: brightness(0.7);
  border-color: transparent;
  background-color: transparent;
  color: #d03050;
}

.q-btn-disable-error-text:active, .q-btn-disable-error-text:hover, .q-btn-disable-error-text:focus {
  filter: brightness(0.7);
  border-color: transparent;
  background-color: transparent;
  color: #d03050;
}

.q-btn-disable-default {
  cursor: no-drop;
  filter: brightness(0.7);
  color: #000;
  border-color: #000;
  background-color: #fff;
}

.q-btn-disable-default:active, .q-btn-disable-default:hover, .q-btn-disable-default:focus {
  filter: brightness(0.7);
  color: #000;
  border-color: #000;
  background-color: #fff;
}

.q-btn-disable-default-text {
  cursor: no-drop;
  filter: brightness(0.7);
  border-color: transparent;
  background-color: transparent;
  color: #fff;
}

.q-btn-disable-default-text:active, .q-btn-disable-default-text:hover, .q-btn-disable-default-text:focus {
  filter: brightness(0.7);
  border-color: transparent;
  background-color: transparent;
  color: #fff;
}

.q-btn-disable-ghost {
  cursor: no-drop;
  filter: brightness(0.7);
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}

.q-btn-disable-ghost:active, .q-btn-disable-ghost:hover, .q-btn-disable-ghost:focus {
  filter: brightness(0.7);
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}

.q-btn-disable-color {
  cursor: no-drop;
  color: #fff;
  border-color: #fff;
  background-color: #fff;
}

.q-btn-disable-color:active, .q-btn-disable-color:hover, .q-btn-disable-color:focus {
  color: #fff;
  border-color: #fff;
  background-color: #fff;
}
