/* type */
$primary: rgb(85, 139, 255);
$warn: #f55;
@mixin type($border-text-color) {
  border-style: solid;
  border-width: 1px;
  border-color: $border-text-color;
  color: $border-text-color;
  background-color: #fff;
  cursor: pointer;
}
.q-btn-type {
  &-primary {
    @include type($primary);
  }
  &-warn {
    @include type($warn);
  }
}