/* wave */
/* kind */
/* size */
/* hover; focus; active */
/* wave */
/* round */
.q-btn-wave:after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #5583e7;
  border-radius: inherit;
  opacity: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  animation-name: wave;
  animation-duration: 1s;
}

@keyframes wave {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .2;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
  }
  100% {
    opacity: 0;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
  }
}
