@import '../var-styles/var.scss';

@mixin wave {
  content: "";

  position: absolute;
  z-index: 1;
  border-width: 0;
  border-color: inherit;
  border-style: solid;
  background-color: transparent;
  border-radius: inherit;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation-name: wave;
  animation-duration: .6s;
}

.q-btn {
  &-wave {
    &:after {
      @include wave;
    }
  }
}

@keyframes wave {
  0% {
    opacity: 0;
    border-width: 0;
  }
  30% {
    opacity: .5;
    border-width: -$wave-size;
    top: $wave-size;
    left: $wave-size;
    right: $wave-size;
    bottom: $wave-size;
  }
  100% {
    opacity: 0;
    border-width: -$wave-size;
    top: $wave-size;
    left: $wave-size;
    right: $wave-size;
    bottom: $wave-size;
  }
}