$q-btn-color: #000;
$q-btn-font-size: 14px;
$q-btn-border-width: 1px;
$q-btn-border-radius: 2px;
$q-btn-border-style: solid;
$q-btn-border-color: #000;
$q-btn-background-color: #fff;
$q-btn-padding-longitudinal: 4px;
$q-btn-padding-widthwise: 10px;
$q-btn-cursor: pointer;
$q-btn-transition: all .2s;

/* kind */
$primary: rgb(85, 131, 231);
$warn: #f55;

/* size */
$s: 0.5;
$m: 1;
$l: 1.5;

/* hover; focus; active */
$darken: 3%;
$lighten: 3%;

/* wave */
$wave-size: -3px;

/* round */
$round: 40px;