$q-btn-color: #000;
$q-btn-font-size: 14px;
$q-btn-border-width: 1px;
$q-btn-border-radius: 2px;
$q-btn-border-style: solid;
$q-btn-border-color: #000;
$q-btn-background-color: #fff;
$q-btn-padding-longitudinal: 5px;
$q-btn-padding-widthwise: 10px;
$q-btn-cursor: pointer;
$q-btn-transition: all .2s;

$circle-s: 18px;
$circle-m: 28px;
$circle-l: 41px;

$primary: #2080f0;
$warn: #f0a020;
$error: #d03050;

$s: 0.5;
$m: 1;
$l: 1.5;

$darken: 5%;
$lighten: 5%;

$wave-size: -3px;

$round: 40px;