/* type */
.q-btn-type-primary {
  border-style: solid;
  border-width: 1px;
  border-color: #558bff;
  color: #558bff;
  background-color: #fff;
  cursor: pointer;
}

.q-btn-type-warn {
  border-style: solid;
  border-width: 1px;
  border-color: #f55;
  color: #f55;
  background-color: #fff;
  cursor: pointer;
}

/* theme */
.q-btn-theme-light {
  background-color: #fff;
}

.q-btn-theme-dark {
  background-color: black;
}

/* size */
.q-btn-size-s {
  font-size: 9px;
  padding: 4.5px 7.5px;
  border-radius: 6px;
}

.q-btn-size-m {
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 8px;
}

.q-btn-size-l {
  font-size: 15px;
  padding: 7.5px 12.5px;
  border-radius: 10px;
}

/* dashed */
.q-btn-dashed-dashed {
  border-style: dashed;
}
