$light: #fff;
$dark: rgb(0, 0, 0);
$dark-hover: rgb(53, 53, 53);
$primary: rgb(85, 139, 255);
$warn: #f55;
$border-width: 1px;
$solid: solid;
$dashed: dashed;

.q-btn {
  &-dashed {
    border-style: $dashed;
  }
  
  &-transition {
    transition: all .2s;
  }
  
  &-primary {
    @extend .q-btn-transition;
    border: $solid $border-width $primary;
    color: $primary;
    background-color: $light;
  }
  &-primary-light {
    @extend .q-btn-primary;
    &:hover {
      color: $light;
      background-color: $primary;
    }
  }
  &-primary-dark {
    background-color: $dark;
    &:hover {
      color: $primary;
      background-color: $dark-hover;
    }
  }
  
  &-warn {
    border: $solid $border-width $warn;
    color: $warn;
    background-color: $light;
  }
  &-warn-light {
    @extend .q-btn-warn;
    &:hover {
      color: $light;
      background-color: $warn;
    }
  }
  &-warn-dark {
    background-color: $dark;
    &:hover {
      color: $warn;
      background-color: $dark-hover;
    }
  }
  &-s {
    font-size: 8px;
    padding: 4px 8px;
    border-radius: 6px;
  }
  &-m {
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 8px;
  }
  &-l {
    font-size: 24px;
    padding: 8px 12px;
    border-radius: 10px;
  }
}