/* default */
.q-btn-default {
  color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  border-color: #000;
  background-color: #fff;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.q-btn-default:hover {
  color: #2080f0;
  border-color: #2080f0;
  outline: none;
}

.q-btn-default:focus {
  color: #2080f0;
  border-color: #2080f0;
  outline: none;
}

.q-btn-default:active {
  color: #1073e7;
  border-color: #1073e7;
}
