@import '../var-styles/var.scss';

@mixin circle($circle-size) {
  height: $circle-size;
  width: $circle-size;
  padding: 0;
  border-radius: 100%;
}

.q-btn-circle {
  &-default {
    @include circle($circle-m);
  }
  &-s {
    @include circle($circle-s);
  }
  &-m {
    @include circle($circle-m);
  }
  &-l {
    @include circle($circle-l);
  }
}
