@import '../var-styles/var.scss';

@mixin kind($type-color) {
  border-color: $type-color;
  background-color: $type-color;
  color: #fff;
  &:hover,
  &:focus,
  &:active {
    background-color: $type-color;
    border-color: $type-color;
    color: #fff;
  }
}

@mixin kind-simple($type-color) {
  border-color: $type-color;
  background-color: #fff;
  color: $type-color;
  &:hover,
  &:focus,
  &:active {
    background-color: #fff;
    border-color: $type-color;
    color: $type-color;
  }
}

.q-btn-kind {
  &-primary {
    @include kind($primary);
    &-simple {
      @include kind-simple($primary);
    }
  }
  &-warn {
    @include kind($warn);
    &-simple {
      @include kind-simple($warn);
    }
  }
  &-error {
    @include kind($error);
    &-simple {
      @include kind-simple($error);
    }
  }
}
