@import '../var-styles/var.scss';
@mixin size($size) {
  font-size: $q-btn-font-size * $size;
  padding-top: $q-btn-padding-longitudinal * $size;
  padding-bottom: $q-btn-padding-longitudinal * $size;
  padding-right: $q-btn-padding-widthwise * $size;
  padding-left: $q-btn-padding-widthwise * $size;
}
.q-btn-size {
  &-s {
    @include size($s);
  }
  &-m {
    @include size($m);
  }
  &-l {
    @include size($l);
  }
}
