.q-btn-text-default {
  border-color: transparent;
  background-color: transparent;
}

.q-btn-text-default:hover,
.q-btn-text-default:active,
.q-btn-text-default:focus {
  border-color: transparent;
  background-color: transparent;
}

.q-btn-text-primary {
  color: #2080f0;
  border-color: transparent;
  background-color: transparent;
}

.q-btn-text-primary:hover,
.q-btn-text-primary:focus {
  color: #388ef2;
  border-color: transparent;
  background-color: transparent;
}

.q-btn-text-primary:active {
  color: #1073e7;
  border-color: transparent;
  background-color: transparent;
}

.q-btn-text-warn {
  color: #f0a020;
  border-color: transparent;
  background-color: transparent;
}

.q-btn-text-warn:hover,
.q-btn-text-warn:focus {
  color: #f2aa38;
  border-color: transparent;
  background-color: transparent;
}

.q-btn-text-warn:active {
  color: #e79410;
  border-color: transparent;
  background-color: transparent;
}

.q-btn-text-error {
  color: #d03050;
  border-color: transparent;
  background-color: transparent;
}

.q-btn-text-error:hover,
.q-btn-text-error:focus {
  color: #d54562;
  border-color: transparent;
  background-color: transparent;
}

.q-btn-text-error:active {
  color: #bc2b48;
  border-color: transparent;
  background-color: transparent;
}
