@import '../../global-styles/var.scss'; 

$q-btn-color: #000;
$q-btn-font-size: 14px;
$q-btn-border-width: 1px;
$q-btn-border-radius: 2px;
$q-btn-border-style: solid;
$q-btn-border-color: #000;
$q-btn-background-color: #fff;
$q-btn-padding-longitudinal: 5px;
$q-btn-padding-widthwise: 10px;
$q-btn-cursor: pointer;
$q-btn-transition: all .2s;

$circle-s: 18px;
$circle-m: 28px;
$circle-l: 41px;