// 类导入顺序决定了类加载顺序
// 导入基本原则(不一定完全遵守, 具体顺序以实际样式覆盖情形为依据) => default > 带参的props > boolean props

@import './default-style/default.scss';

@import './part-styles/kind.scss';

@import './part-styles/size.scss';

@import './part-styles/dashed.scss';

@import './part-styles/round.scss';

@import './part-styles/wave.scss';

@import './part-styles/ghost.scss';

@import './part-styles/color.scss';

@import './part-styles/circle.scss';

@import './part-styles/text.scss';

@import './part-styles/theme.scss';

@import './part-styles/disable.scss';

@import './var-styles/var.scss';

.waveMUI {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: $primary;
  opacity: 0;
  border-radius: 100%;
  animation: wui;
  animation-duration: .3s;
  animation-timing-function: ease;
  &:focus {
    width: 0;
    height: 0;
    opacity: 1;
    animation: wui;
    animation-duration: .7s;
    animation-timing-function: ease;
  }
  // &:active {
  //   width: 0;
  //   height: 0;
  //   opacity: 1;
  //   animation: wui;
  //   animation-duration: .7s;
  //   animation-timing-function: ease;
  // }
}

@keyframes wui {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}